{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of spikeball-section -->
<section class="section-padding pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 mb-40">
                <h2 class="section-title">{{.Title}}</h2>
                <p>{{.Content}}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <h2>Anmeldung</h2>
        </div>
        <div class="row justify-content-center">
            <strong>
                <p id="teamsCount"></p>
            </strong>
        </div>
        <div class="row justify-content-center">
            <form class="col-8" id="spikeball-form">
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="name">Teamname<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="text" placeholder="Sesame Street Muppet Punchers"
                        id="name" name="name" required>
                </div>
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="email">Kontakt-Email<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="email" placeholder="me@sesamestreet.com" id="email"
                        name="email" required>
                </div>
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="player1">Spieler*in 1<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="text" placeholder="Elmo" id="player1" name="player1"
                        required>
                </div>
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="player2">Spieler*in 2<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="text" placeholder="Mr. Snuffleupagus" id="player2"
                        name="player2" required>
                </div>
                <button class="btn btn-primary" type="submit">Teilnehmen</button>
            </form>
            <div id="success-message" style="display: none">
                <h3>Vielen Dank!</h3>
                <p>Damit du definitiv angemeldet wirst, musst du noch deine Email bestätigen.</p>
                <strong>
                    <p>Dein Platz ist eine Stunde reserviert.</p>
                </strong>
                <p>Solltest du kein Email erhalten haben melde dich bei <a
                        href="mailto:games@kulti22.ch">games@kulti22.ch</a></p>
            </div>
            <div id="retry-message" style="display: none">
                <h3>Bereits teilgenommen!</h3>
                <p style="color: darkred;">Mit dieser Mailadresse wurde bereits teilgenommen.</p>
            </div>
            <div id="error-message" style="display: none">
                <h3>Ups!</h3>
                <p style="color: darkred;">Leider hat etwas nicht geklappt.. Bitte melde dich bei Thomas von Mentlen
                    <a href="mailto:thomas.vonmentlen@jublaost.ch">thomas.vonmentlen@jublaost.ch</a>
                </p>
            </div>
            <div id="full-message" style="display: none">
                <br>
                <h3>Leider sind schon alle Plätze belegt!</h3>
            </div>
        </div>
    </div>
</section>

{{ $script := resources.Get "js/spikeball.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ end }}