{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of band-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <h2 class="section-title">Acts</h2>
        <p>Die ersten Acts sind bekannt!</p>
        <p>Schaue bald wieder vorbei um mehr zu sehen!</p>
      </div>
      <div class="bands-container col-lg-6 col-md-9 mb-40">

        {{ range $i, $e:= (where .Site.RegularPages "Section" "acts") }}
        {{ if ne .Params.draft true }}
        {{ if .Params.title }}
        <a class="nav-link {{if eq $i 0}}active{{end}}" id="band-{{.Params.title| urlize}}" href="{{ .Permalink }}">
          <p class="circle-shape"></i>{{ .Params.title }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</section>
<section class="section-padding pt-100 horizontal-accordion bg-light-gray has-shapes has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-9 mb-40">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
  <div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
  <div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <h2>Ich gebe meine Stimme:</h2>
        <form class="rounded shadow p-30" id="competition-form-vote">
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="act">Der Act<strong
                style="color: darkred;">*</strong></label>
            <select class="form-control shadow-none" type="text" placeholder="Kulti Rockers" id="act" name="act"
              required>
              <option value="none" selected disabled>-- Wähle den Act --</option>
              <option value="1">Band 1</option>
              <option value="2">Band 2</option>
              <option value="3">Band 3</option>
              <option value="4">Band 4</option>
            </select>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="email">{{i18n "mail"}}<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="email" placeholder="chuck.norris@nüt.ch" id="email"
              name="email" required>
          </div>

          <div class="recaptcha" style="text-align: center;">
            <div id="recaptcha-message" style="display: none">
              <h3>Bitte fülle das reCAPTCHA aus</h3>
              <p>Besten Dank.</p>
            </div>
            <div class="g-recaptcha" style="text-align: center;"
              data-sitekey="6Le6UXYdAAAAAMYcjezTTrpkJ1TBudbmfHVyF9_4">
            </div>
          </div>

          <br />
          <button class="btn btn-primary w-100" type="submit">{{ i18n "submit"}}</button>
        </form>
        <div id="success-message" style="display: none">
          <h3>Vielen Dank!</h3>
          <p>Wir werden uns umgehend bei dir melden.</p>
        </div>
        <div id="error-message" style="display: none">
          <h3 style="color: darkred;">Fehler!</h3>
          <p style="color: darkred;">Leider hat etwas nicht geklappt... melde dich doch direkt bei <a
              href="mailto:thomas@kulti22.ch">thomas@kulti22.ch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of team-section -->
{{ end }}