{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of band-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <h2 class="section-title">Acts</h2>
        <p>Die ersten Acts sind bekannt!</p>
        <p>Schaue bald wieder vorbei um mehr zu sehen!</p>
      </div>
      <div class="bands-container col-lg-6 col-md-9 mb-40">

        {{ range $i, $e:= (where .Site.RegularPages "Section" "acts") }}
        {{ if ne .Params.draft true }}
        {{ if .Params.title }}
        <a class="nav-link {{if eq $i 0}}active{{end}}" id="band-{{.Params.title| urlize}}" href="{{ .Permalink }}">
          {{ .Params.title }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</section>
<section class="section-padding pt-100 horizontal-accordion bg-light-gray has-shapes has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-9 mb-40">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
  <div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
  <div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
  <div class="container">
    <div class="row justify-content-center">
      <h1>Gib deine Stimme!</h1>
      <br />
    </div>

    <div class="row justify-content-center">

      {{ range (where .Site.RegularPages "Section" "act-contest") }}
      {{ if ne .Params.draft true }}
      {{ if .Params.title }}

      <div class="col-md-5 col-sm-6 mb-30">
        <div class="justify-content-center">
          {{ $image := resources.GetMatch .Params.image }}
          {{ partial "image.html"
          (dict "Image" $image "Alt" "{{.Params.title}} image" "Class" "img-fluid contest-act-img") }}
        </div>
        <div class="bg-white shadow rounded p-30">

          <div class="d-flex justify-content-between mb-2 mb-lg-3">
            <h3 class="mb-2 mb-lg-4 font-weight-600">{{ .Params.title }}</h3>
          </div>
          <div class="accordion-panel">
            <p>{{ .Summary | markdownify }}</p>
          </div>
          <br />
          <div class="row" style="text-align: center;">
            <div class="col">
              <a target="_blank" href="{{ .Permalink }}">
                <button type="submit" class="btn btn-primary has-icon ml-15">Mehr zu {{ .Params.title }}
                  <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                        fill="currentColor" />
                    </svg></span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}

    </div>
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <h2>Ich gebe meine Stimme:</h2>
        <form class="rounded shadow p-30" id="competition-form-vote" style="background-color: white;">
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="act">Der Act<strong
                style="color: darkred;">*</strong></label>
            <select class="form-control shadow-none" type="text" placeholder="Kulti Rockers" id="act" name="act"
              required>
              <option value="none" selected disabled>-- Wähle den Act --</option>
              {{ range (where .Site.RegularPages "Section" "act-contest") }}
              {{ if ne .Params.draft true }}
              {{ if .Params.title }}
              <option value="{{ .Params.title }}">{{ .Params.title }}</option>
              {{ end }}
              {{ end }}
              {{ end }}
            </select>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="email">{{i18n "mail"}}<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="email" placeholder="chuck@norris-mail.ch" id="email"
              name="email" required>
          </div>

          <div class="recaptcha" style="text-align: center;">
            <div id="recaptcha-message" style="display: none">
              <h3>Bitte fülle das reCAPTCHA aus</h3>
              <p>Besten Dank.</p>
            </div>
            <div class="g-recaptcha" style="text-align: center;"
              data-sitekey="6Le6UXYdAAAAAMYcjezTTrpkJ1TBudbmfHVyF9_4">
            </div>
          </div>

          <br />
          <button class="btn btn-primary w-100" type="submit">{{ i18n "submit"}}</button>
        </form>
        <div id="success-message" style="display: none">
          <h3 style="color: green;">Vielen Dank!</h3>
          <p>Bitte bestätige deine Stimme im Bestätigungsmail. (schaue unter umständen
            auch im SPAM)</p>
          <p>Bei Problemen oder nicht erhalten des Mails melde dich doch bei Thomas: <a
              href="mailto:thomas@kulti22.ch">thomas@kulti22.ch</a></p>

        </div>
        <div id="error-message" style="display: none">
          <h3 style="color: darkred;">Fehler!</h3>
          <strong>
            <p>Beachte, dass du nur EINE Stimme geben kannst.</p>
          </strong>
          <p style="color: darkred;">Leider hat etwas nicht geklappt... melde dich doch direkt bei <a
              href="mailto:thomas@kulti22.ch">thomas@kulti22.ch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of team-section -->
{{ end }}