{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of band-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <h2 class="section-title">{{.Title}}</h2>
        <p>{{.Content}}</p>
        <br />
        <a href="https://kulti22.blob.core.windows.net/docs/Timetable_Gesamtuebersicht.pdf" target="_blank"><button class="btn btn-primary">Timetable</button></a>
      </div>
      <div class="bands-container col-lg-6 col-md-9 mb-40">

        {{ range $i, $e:= (where .Site.RegularPages "Section" "acts") }}
        {{ if ne .Params.draft true }}
        {{ if .Params.title }}
        <a class="nav-link {{if eq $i 0}}active{{end}}" id="band-{{.Params.title| urlize}}" href="{{ .Permalink }}">
          {{ .Params.title }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}

      </div>
    </div>
    <iframe style="border-radius:9px"
      src="https://open.spotify.com/embed/playlist/7dSIbpFab9sjTPTDRAJbOx?utm_source=generator" width="100%"
      height="380" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </div>
</section>
<!--<section class="section-padding pt-100 horizontal-accordion bg-light-gray has-shapes has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-9 mb-40">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
  <div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
  <div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
</section>-->
<!-- end of team-section -->
{{ end }}
