{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-10 mt-40">
        {{ .Content }}
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-xl-9 col-lg-10">
        <form class="rounded shadow p-30" id="helfende-form">
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="vorname">Vorname<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="text" placeholder="Hans" id="vorname" name="vorname" required>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="nachname">Nachname<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="text" placeholder="Muster" id="nachname" name="nachname"
              required>
          </div>
          <div class="form-group mb-30">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="age" name="age" value="yes">
              <label class="form-check-label" for="age">18+ (Ich bin volljährig)</label>
            </div>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="email">Email<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="email" placeholder="name@email.com" id="email" name="email"
              required>
          </div>

          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="phone">Handynummer<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="text" placeholder="079 123 45 67" id="phone" name="phone"
              required>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="street">Adresse<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="text" placeholder="Mösliweg 6" id="street" name="street"
              required>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <input class="form-control shadow-none" type="number" placeholder="3645" id="plz" name="plz" required>
            </div>
            <div class="form-group col-sm-8">
              <input class="form-control shadow-none" type="text" placeholder="Gwatt" id="ort" name="ort" required>
            </div>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="iban">IBAN<strong
                style="color: darkred;">*</strong>
              <small>(Für die Rückerstattung)</small></label>
            <input class="form-control shadow-none" type="text" placeholder="CHxx xxxx xxxx xxxx xxxx x" id="iban"
              name="iban" required>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="job">Beruf</label>
            <input class="form-control shadow-none" type="text" placeholder="Matratzentester" id="job" name="job">
          </div>

          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="fiend">Ich möchte zusammen arbeiten mit</label>
            <input class="form-control shadow-none" type="text" placeholder="Petra Sturzenegger" id="friend"
              name="friend">
          </div>

          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="notfallname">Notfallkontakt<strong
                style="color: darkred;">*</strong></label>
            <input class="form-control shadow-none" type="text" placeholder="Chuck Norris" id="notfallname"
              name="notfallname" required>
            <br>
            <input class="form-control shadow-none" type="text" placeholder="077 123 45 67" id="notfallnr"
              name="notfallnr" required>
          </div>

          <div class="row">
            <div class="form-group col-sm-6 mb-30">
              <label class="text-black-200 h5 font-weight-600 mb-2">T-Shirt Grösse</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="shirt-size" value="S" id="size-s">
                <label class="form-check-label" for="size-s">S</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="shirt-size" value="M" id="size-m" checked>
                <label class="form-check-label" for="size-m">M</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="shirt-size" value="L" id="size-l">
                <label class="form-check-label" for="size-l">L</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="shirt-size" value="XL" id="size-xl">
                <label class="form-check-label" for="size-xl">XL</label>
              </div>
            </div>

            <div class="form-group col-sm-6 mb-30">
              <label class="text-black-200 h5 font-weight-600 mb-2">Führerschein</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="driver-license" value="no" id="driver-license-no"
                  onchange="onLicenseCheck(false)" checked>
                <label class="form-check-label" for="driver-license-no">Nein</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="driver-license" value="yes" id="driver-license-yes"
                  onchange="onLicenseCheck(true)">
                <label class="form-check-label" for="driver-license-yes">Ja</label>
              </div>
              <div id="driver-license-category-div" class="form-check hide">
                <label class="text-black-200 h6 font-weight-400" for="driver-license-category">Kategorie</label>
                <input class="form-control shadow-none" type="text" placeholder="BE" id="driver-license-category"
                  name="driver-license">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4 mb-30">
              <label class="text-black-200 h5 font-weight-600 mb-2">Aufbau</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="19.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-01">
                <label class="form-check-label" for="aufbau-dates-01">Fr 19.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="19.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-01-2">
                <label class="form-check-label" for="aufbau-dates-01-2">Fr 19.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="19.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-01-3">
                <label class="form-check-label" for="aufbau-dates-01-3">Fr 19.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="20.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-02">
                <label class="form-check-label" for="aufbau-dates-02">Sa 20.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="20.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-02-2">
                <label class="form-check-label" for="aufbau-dates-02-2">Sa 20.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="20.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-02-3">
                <label class="form-check-label" for="aufbau-dates-02-3">Sa 20.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="21.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-03">
                <label class="form-check-label" for="aufbau-dates-03">So 21.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="21.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-03-2">
                <label class="form-check-label" for="aufbau-dates-03-2">So 21.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="21.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-03-3">
                <label class="form-check-label" for="aufbau-dates-03-3">So 21.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="22.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-04">
                <label class="form-check-label" for="aufbau-dates-04">Mo 22.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="22.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-04-2">
                <label class="form-check-label" for="aufbau-dates-04-2">Mo 22.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="22.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-04-3">
                <label class="form-check-label" for="aufbau-dates-04-3">Mo 22.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="23.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-05">
                <label class="form-check-label" for="aufbau-dates-05">Di 23.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="23.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-05-2">
                <label class="form-check-label" for="aufbau-dates-05-2">Di 23.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="23.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-05-3">
                <label class="form-check-label" for="aufbau-dates-05-3">Di 23.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="24.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-06">
                <label class="form-check-label" for="aufbau-dates-06">Mi 24.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="24.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-06-2">
                <label class="form-check-label" for="aufbau-dates-06-2">Mi 24.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="24.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-06-3">
                <label class="form-check-label" for="aufbau-dates-06-3">Mi 24.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="25.08.22 Vormittag" name="aufbau-dates"
                  id="aufbau-dates-07">
                <label class="form-check-label" for="aufbau-dates-07">Do 25.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="25.08.22 Nachmittag" name="aufbau-dates"
                  id="aufbau-dates-07-2">
                <label class="form-check-label" for="aufbau-dates-07-2">Do 25.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="25.08.22 Abend" name="aufbau-dates"
                  id="aufbau-dates-07-3">
                <label class="form-check-label" for="aufbau-dates-07-3">Do 25.08.22 Abend</label>
              </div>
            </div>

            <div class="form-group col-sm-4 mb-30">
              <label class="text-black-200 h5 font-weight-600 mb-2">Am Kulti</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="26.08.22 Vormittag" name="kulti-dates"
                  id="kulti-dates-01">
                <label class="form-check-label" for="kulti-dates-01">Fr 26.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="26.08.22 Nachmittag" name="kulti-dates"
                  id="kulti-dates-02">
                <label class="form-check-label" for="kulti-dates-02">Fr 26.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="26.08.22 Abend" name="kulti-dates"
                  id="kulti-dates-03">
                <label class="form-check-label" for="kulti-dates-03">Fr 26.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="27.08.22 Vormittag" name="kulti-dates"
                  id="kulti-dates-04">
                <label class="form-check-label" for="kulti-dates-04">Sa 27.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="27.08.22 Nachmittag" name="kulti-dates"
                  id="kulti-dates-05">
                <label class="form-check-label" for="kulti-dates-05">Sa 27.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="27.08.22 Abend" name="kulti-dates"
                  id="kulti-dates-06">
                <label class="form-check-label" for="kulti-dates-06">Sa 27.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="28.08.22 Vormittag" name="kulti-dates"
                  id="kulti-dates-07">
                <label class="form-check-label" for="kulti-dates-07">So 28.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="28.08.22 Nachmittag" name="kulti-dates"
                  id="kulti-dates-07">
                <label class="form-check-label" for="kulti-dates-08">So 28.08.22 Nachmittag</label>
              </div>
            </div>

            <div class="form-group col-sm-4 mb-30">
              <label class="text-black-200 h5 font-weight-600 mb-2">Abbau</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="29.08.22 Vormittag" name="abbau-dates"
                  id="abbau-dates-01">
                <label class="form-check-label" for="abbau-dates-01">Mo 29.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="29.08.22 Nachmittag" name="abbau-dates"
                  id="abbau-dates-01-2">
                <label class="form-check-label" for="abbau-dates-01-2">Mo 29.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="29.08.22 Abend" name="abbau-dates"
                  id="abbau-dates-01-3">
                <label class="form-check-label" for="abbau-dates-01-3">Mo 29.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="30.08.22 Vormittag" name="abbau-dates"
                  id="abbau-dates-02">
                <label class="form-check-label" for="abbau-dates-02">Di 30.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="30.08.22 Nachmittag" name="abbau-dates"
                  id="abbau-dates-02-2">
                <label class="form-check-label" for="abbau-dates-02-2">Di 30.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="30.08.22 Abend" name="abbau-dates"
                  id="abbau-dates-02-3">
                <label class="form-check-label" for="abbau-dates-02-3">Di 30.08.22 Abend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="31.08.22 Vormittag" name="abbau-dates"
                  id="abbau-dates-03">
                <label class="form-check-label" for="abbau-dates-03">Mi 31.08.22 Vormittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="31.08.22 Nachmittag" name="abbau-dates"
                  id="abbau-dates-03-2">
                <label class="form-check-label" for="abbau-dates-03-2">Mi 31.08.22 Nachmittag</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="31.08.22 Abend" name="abbau-dates"
                  id="abbau-dates-03-3">
                <label class="form-check-label" for="abbau-dates-03-3">Mi 31.08.22 Abend</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col mb-30">
              <label class="text-black-200 h5 font-weight-600 mb-2">Das kann ich</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Putzen" id="can-do-02">
                <label class="form-check-label" for="can-do-02">Putzfee oder -elf</label>
                <p class="form-comment">Wir sind ehrlich: Der Job ist hart, aber alle werden dich lieben! Du bist dafür
                  zuständig, Verschmutzungen (z.B. eine schlammverschmierte Blache oder eine Getränkepfütze)
                  aufzuputzen. Die Ausrüstung dafür stellen wir zur Verfügung.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Trash Hero" id="can-do-05">
                <label class="form-check-label" for="can-do-05">Trash Hero (Abfallheld*innen)</label>
                <p class="form-comment">Alle freuen sich über ein sauberes Gelände. Dafür wärst du zuständig: fätzeln,
                  recyclen und entsorgen. Das Positive: Deine Schichten sind punktuell 2-3 Mal pro Tag, ansonsten
                  geniesst du das Kulti. Du musst nicht viel überlegen und kannst in einer witzigen Gruppe arbeiten.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Infra" id="can-do-06">
                <label class="form-check-label" for="can-do-06">Infrastruktur</label>
                <p class="form-comment">Vor allem für den Aufbau (ab 19.8.) und den Abbau (ab 29.8.) suchen wir noch
                  Leute! Du bist zuständig für: Errichtung, Instandhaltung und Abbau diverser Jubla-Bauten, Blachen
                  knüpfen oder Deko aufhängen.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Sicherheit" id="can-do-07">
                <label class="form-check-label" for="can-do-07">Sicherheit</label>
                <p class="form-comment">Du bist am Freitag, 26.08.22 von 14:00-20:15 Uhr gemeinsam mit dem Ressort
                  Sicherheit für die Sicherheit ums Kulti verantwortlich. Dir werden konkrete Aufgaben zugewiesen und du
                  arbeitest im Zweierteam.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Alles" id="can-do-09">
                <label class="form-check-label" for="can-do-09">Teilt mich einfach ein (JOKER)</label>
              </div>
              <label class="text-black-200 h5 font-weight-800 mb-2">Aktuelle Sonderjobs</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="DEPOT" id="can-do-11">
                <label class="form-check-label" for="can-do-11">Depot TEAM (2 Personen)</label>
                <p class="form-comment">Depotrücknahme / Pfand Im Zweierteam sind du und dein Gspänli für die
                  Depotrücknahme von Getränkebechern etc. zuständig. Wir brauchen noch Unterstützung für Sa, 27.8. Abend
                  und So, 28.6. Vormittag.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Allrounder" id="can-do-13">
                <label class="form-check-label" for="can-do-13">Spontane Allrounder*innen</label>
                <p class="form-comment">Du geniesst das Kulti, bist aber allzeit bereit für kleinere Einsätze, dort wo
                  es dich braucht.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Abendkasse" id="can-do-14">
                <label class="form-check-label" for="can-do-14">(Abend-)Kasse</label>
                <p class="form-comment">An der Abendkasse vom Sa, 27.8. 14.00-20.30 Uhr ist dir gute Laune auf jeden
                  Fall gewiss: Denn hier freuen sich auch die ganz spontanen Jublaner und Jublanerinnen, doch noch Kulti
                  Luft schnuppern zu können.
                </p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Buehnentechnik" id="can-do-15">
                <label class="form-check-label" for="can-do-15">Hilfe Auf- und Abbau Bühnentechnik während Acts</label>
                <p class="form-comment">
                  Keine Sorge, Du musst hier zwar auf Zack sein, keinesfalls aber einen riesigen Wissensschatz an
                  technischem Know-How mitbringen. Während des Acts hilfst du beim Auf- und Abbau der Bühnentechnik,
                  erhältst hierbei natürlich genaue Anweisungen und hilfst so, die musikalischen Highlights
                  unvergesslich zu machen.</p>
                <p class="form-comment">Die Zeiten mit genügend Pausen dazwischen sind:</p>
                <p class="form-comment">Freitag, 26.8.22 : 17:00 - 01:00 Uhr</p>
                <p class="form-comment">Samstag, 27.8.22 : 14:00-19:00 Uhr (Nachmittag) und 19:00-01:00 Uhr (Abend)</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Rodeo" id="can-do-16">
                <label class="form-check-label" for="can-do-16">Rodeo-Reiten Betreuung</label>
                <p class="form-comment"> (1-2 Personen) Fr 26.8. 17:00 - 00:30 / Samstag 27.8. 14:00 - 00:30 </p>
                <p class="form-comment">
                  Mitfiebern, ein kleines bisschen Schadenfreude und sicherlich einige lustige Stunts sind dir hier
                  gewiss. Am Freitagabend und Samstagnachmittag bis –abend brauchen wir noch Unterstützung bei der
                  Betreuung vom Rodeo-Reiten. Ein Atelier, das dir Action verspricht!
                </p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Verpflegung_Artists"
                  id="can-do-17">
                <label class="form-check-label" for="can-do-17">Verpflegung Artists</label>
                <p class="form-comment">(Salatbuffet, Essen holen, Kühlschränke auffüllen) 14-22.00 Uhr Fr und Sa</p>
                <p class="form-comment">
                  Auch unsere Kulti Stars haben Hunger – Freitag und Samstag benötigen wir noch deine Hilfe bei der
                  Verpflegung unserer Artists! Du sorgst für das körperliche Wohl unserer Gäste und hilfst dabei, das
                  Salat- und Essensbuffet reichhaltig ausgestattet zu halten und den Getränkekühlschrank aufzufüllen.
                </p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Abbau_Sonntag" id="can-do-18">
                <label class="form-check-label" for="can-do-18">Abbaukräfte für Sonntag</label>
                <p class="form-comment">Die ersten Sachen werden wir am Sonntag (ab 28.8.) nach dem ausgiebigen
                  Frühstück abbauen. Du bist zuständig für: Abbau diverser Jubla-Bauten, Blachen sortieren, …</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Blache_Knuepfen" id="can-do-19">
                <label class="form-check-label" for="can-do-19">Blachen knüpfen / erstes Aufbauen</label>
                <p class="form-comment">Du knüpfst am Mi, 17.08. von 13.00-18.00 Uhr und / oder am Do, 18.08. ab 18.30
                  Uhr mit deinen Gspänli J+S Blachen für die legendären Kultibauten und hilfst bei sonstigen
                  Aufbauarbeiten.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can-do" value="Dekoteam" id="can-do-20">
                <label class="form-check-label" for="can-do-20">Dekoteam</label>
                <p class="form-comment">Unterstütze das Dekoteam am Sa, 20.08. und oder So, 21.08., 10.00-17.00 beim
                  Basteln und hilf mit, den gestalterischen Funken auf dem ganzen Gelände tanzen zu lassen.</p>
              </div>
            </div>
          </div>

          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="message">Kommentar</label>
            <textarea class="form-control shadow-none" rows="5" id="message" name="message"></textarea>
          </div>
          <p>Je nach dem, wie viele Einsätze du am Kulti hast und wie lange diese sind, werden dir als Entschädigung
            Konsumationsgutscheine zur Verfügung gestellt. Auch als Helfende*r brauchst du also ein Kulti 22 Ticket.</p>
          <br>
          <div class="form-group mb-30">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="ticketneed" name="ticketneed" value="yes" required>
              <label class="form-check-label" for="ticketneed">Ich habe gelesen, dass ich auch als Helfende*r im Voraus
                ein Ticket kaufen muss.<strong style="color: darkred;">*</strong></label>
            </div>
          </div>

          <button id="submit-button" class="btn btn-primary w-100" type="submit">{{ i18n "submit"}}</button>
        </form>
        <div id="success-message" style="display: none">
          <h3>Vielen Dank!</h3>
          <p>Wir werden uns bei dir melden.</p>
        </div>
        <div id="error-message" style="display: none">
          <h3>Ups!</h3>
          <p style="color: darkred;">Leider hat etwas nicht geklappt.. Bitte melde dich bei Simona Bosetti<a
              href="mailto:simi@kulti22.ch">simi@kulti22.ch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}