{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-10 mt-40">
        {{ .Content }}
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-xl-6 col-lg-7">
        <form class="rounded shadow p-30" id="helfende-form">
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="name">{{ i18n "name"}}</label>
            <input class="form-control shadow-none" type="text" placeholder="Jack Barker" id="name" required>
          </div>
          <div class="form-group mb-30">
            <label class="text-black-200 h5 font-weight-600 mb-2" for="email">{{i18n "mail"}}</label>
            <input class="form-control shadow-none" type="email" placeholder="irgendwas@wasnanderes.jubla" id="email" required>
          </div>
          <button class="btn btn-primary w-100" type="submit">{{ i18n "submit"}}</button>
        </form>
        <div id="success-message" style="display: none">
          <h3>Vielen Dank!</h3>
          <p>Wir werden uns bei dir melden wenn wir mehr infos benötigen.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

