{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of GL-section -->
<section class="section-padding pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 mb-40">
                <p>{{.Content}}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <h2>Anmeldung</h2>
        </div>
        <div class="row justify-content-center">
            <form class="col-8" id="gl-form">
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="name">Name<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="text" placeholder="Chuck Norris" id="name" name="name"
                        required>
                </div>
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="email">Email<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="email" placeholder="chuck@norris.com" id="email"
                        name="email" required>
                </div>
                <div class="form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="stimmme">Spiel Slot<strong
                            style="color: darkred;">*</strong></label>
                    <select class="form-control shadow-none" id="stimme" name="stimme" required>
                        <option selected disabled>-- Bitte wählen --</option>
                        <optgroup label="13:00 - 14:00">
                            <option id="slot01field01" value="Feld01;13:00-14:00">Feld 01</option>
                            <option id="slot01field02" value="Feld02;13:00-14:00">Feld 02</option>
                        </optgroup>
                        <optgroup label="14:00 - 15:00">
                            <option id="slot02field01" value="Feld01;14:00-15:00">Feld 01</option>
                            <option id="slot02field02" value="Feld02;14:00-15:00">Feld 02</option>
                        </optgroup>
                        <optgroup label="15:00 - 16:00">
                            <option id="slot03field01" value="Feld01;15:00-16:00">Feld 01</option>
                            <option id="slot03field02" value="Feld02;15:00-16:00">Feld 02</option>
                        </optgroup>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Teilnehmen</button>
            </form>
            <div id="success-message" style="display: none">
                <h3>Vielen Dank!</h3>
                <p>Damit du definitiv angemeldet wirst, musst du noch deine Email bestätigen.</p>
                <strong>
                    <p>Dein Platz ist eine Stunde reserviert.</p>
                </strong>
                <p>Solltest du kein Email erhalten haben melde dich bei <a
                        href="mailto:games@kulti22.ch">games@kulti22.ch</a></p>
            </div>
            <div id="retry-message" style="display: none">
                <h3>Bereits teilgenommen!</h3>
                <p style="color: darkred;">Mit dieser Mailadresse wurde bereits teilgenommen.</p>
            </div>
            <div id="error-message" style="display: none">
                <h3>Ups!</h3>
                <p style="color: darkred;">Leider hat etwas nicht geklappt.. Bitte melde dich bei Thomas von Mentlen <a
                        href="mailto:thomas.vonmentlen@jublaost.ch">thomas.vonmentlen@jublaost.ch</a></p>
            </div>
        </div>
    </div>
</section>

{{ $script := resources.Get "js/games.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ end }}