/* SideScroll Fix */
html, body {
    overflow-x: hidden;
}
body {
    position: relative;
}
.footer-logo {
    max-width: 10em;
}
.sticky {
    position: fixed !important;
    top: 0;
    width: 100%
}

.img-fluid {
    width: 100%;
}

.logo {
    width: 100%;
}

.logo-small {
    width: 100px;
    transition: 0.5s;
}
.hide {
    display: none;
}
form {
    font-family: $font-text;
}
.btn {
    font-family: $font-text;
    font-weight: bold;
}
.eventfrog-button {
    background-color: white !important;
    color: black;
    border: 0.094rem solid $color-primary;
}
.eventfrog-button:hover {
    background-color: whitesmoke;
}
.ok-img {
    width: 80%;
}
.bands-container {
    border-left: 1em solid $color-primary;
    a {
        font-size: 3em;
        font-family: $font-headings;
        color: $color-primary;
    }
    a:hover {
        color: $color-secondary;
    }
}

.banner-img {
    max-height: 30vh; 
    object-fit: cover;
}

// disable load more button curator
.crt-load-more {
    display: none !important;
}