{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of band-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-carousel">
                    {{ range sort (where .Site.RegularPages "Section" "sponsors") "Params.priority" }}
                    <a target="_blank" href="{{ .Params.link }}">
                        <div class="brand-item d-flex align-items-center justify-content-center">
                            {{ $image := resources.GetMatch .Params.image }}
                            {{ partial "image.html" (dict "Image" $image "Alt" "img" "Class" "img-fluid") }}
                        </div>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        {{.Content}}
    </div>
</section>

{{ end }}