<br />
<section style="font-family: 'Century Gothic', sans-serif;">
    <h2>Vergangene Kultis</h2>
    <br />
    <div class="row">
        <div class="col-2">2019</div>
        <div class="col-4">Härkingen (SO)</div>
        <div class="col-6">Heldenhaft aus Leidenschaft</div>
    </div>
    <div class="row">
        <div class="col-2">2017</div>
        <div class="col-4">Muttenz (BL)</div>
        <div class="col-6">Gellerettli – Zyt isch ryff</div>
    </div>
    <div class="row">
        <div class="col-2">2014</div>
        <div class="col-4">Giswil (OW)</div>
        <div class="col-6">Dui im Mittelpunkt</div>
    </div>
    <div class="row">
        <div class="col-2">2011</div>
        <div class="col-4">Neuheim (ZG)</div>
        <div class="col-6">enZUGhetti</div>
    </div>
    <div class="row">
        <div class="col-2">2009</div>
        <div class="col-4">Tobel (TG)</div>
        <div class="col-6">Mais am Port</div>
    </div>

    <div class="row">
        <div class="col-2">2005</div>
        <div class="col-4">Trogen (AR)</div>
        <div class="col-6">Hinterm Horizont</div>
    </div>

    <div class="row">
        <div class="col-2">2002</div>
        <div class="col-4">Wohlen (AG)</div>
        <div class="col-6">We are the world</div>
    </div>

    <div class="row">
        <div class="col-2">2000</div>
        <div class="col-4">Oberentfelden (AG)</div>
        <div class="col-6">Jubilenium</div>
    </div>

    <div class="row">
        <div class="col-2">1998</div>
        <div class="col-4">Waldstatt (AR)</div>
        <div class="col-6">Abhebä - und nie meh vergässe</div>
    </div>

    <div class="row">
        <div class="col-2">1996</div>
        <div class="col-4">Gurten (BE)</div>
        <div class="col-6">Ä Fuär wo's bringt</div>
    </div>

    <div class="row">
        <div class="col-2">1994</div>
        <div class="col-4">Reinach (BL)</div>
        <div class="col-6">Durestarte</div>
    </div>

    <div class="row">
        <div class="col-2">1992</div>
        <div class="col-4">Muri (AG)</div>
        <div class="col-6">Chäfer-Fäscht</div>
    </div>
    <div class="row">
        <div class="col-2">1990</div>
        <div class="col-4">Horgen (ZH) </div>
        <div class="col-6">S isch s Zähni</div>
    </div>
    <div class="row">
        <div class="col-2">1988</div>
        <div class="col-4">Rotkreuz (ZG)</div>
        <div class="col-6">Äs Wort, än Klang, än Supergsang</div>
    </div>
    <div class="row">
        <div class="col-2">1986</div>
        <div class="col-4">Sirnach (TG)</div>
        <div class="col-6">Läbigi Bühni, farbigi Tön</div>
    </div>
    <div class="row">
        <div class="col-2">1985</div>
        <div class="col-4">Baden (AG)</div>
        <div class="col-6">Im Rampeliecht</div>
    </div>
    <div class="row">
        <div class="col-2">1984</div>
        <div class="col-4">Chur (GR)</div>
        <div class="col-6">Musig unt'r Stärna</div>
    </div>
    <div class="row">
        <div class="col-2">1983</div>
        <div class="col-4">Nebikon (LU)</div>
        <div class="col-6">Musig wo under d Hut gohd</div>
    </div>
    <div class="row">
        <div class="col-2">1982</div>
        <div class="col-4">Oberrohrdorf (AG)</div>
        <div class="col-6">Thema nicht bekannt</div>
    </div>
    <div class="row">
        <div class="col-2">1981</div>
        <div class="col-4">Ittigen (BE)</div>
        <div class="col-6">Chöpf, Härz und Händ, gäbe zäme ä Bänd</div>
    </div>
    <div class="row">
        <div class="col-2">1980</div>
        <div class="col-4">Balsthal (SO)</div>
        <div class="col-6">Stubegeischt Potpourri</div>
    </div>
    <div class="row">
        <div class="col-2">1979</div>
        <div class="col-4">Wollishofen (ZH)</div>
        <div class="col-6">Nume ine</div>
    </div>
</section>